.loading_indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.cart__section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5vh;
}

.cart__section div {
  width: max-content;
  min-width: 250px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_cart_icon,
.delete_cart_icon {
  width: 30px;
  height: 30px;
}

.shop__cart {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  flex-wrap: wrap;
}
