* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart__section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.cart__section div{
    margin: 0 6%;
    padding: 5px;
    width: max-content;
    min-width: 300px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
}

.cart__section span {
    margin: 5px;
}

.cart__section img {
    width: 35px;
    height: 35px;
}

.delete__cart {
    cursor: pointer;
    transition: all 5s;
}

.delete__cart:hover {
    border: 1px solid #000;
}

.shop__cart {
    width: 90%;
    height: auto;
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}