section {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading_indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.product__image {
  width: 100%;
  padding: 2% 5%;
}

.product__image img {
  width: 80%;
  height: 500px;
}

.product__details {
  width: 100%;
  padding: 5%;
}

.product__title {
  font-size: 1.6rem;
}

table {
  width: 100%;
  margin: 3vh 0;
}

tr {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

tr td:first-child {
  font-size: 1.3rem;
  font-weight: 500;
}

tr td:last-child {
  font-size: 1rem;
}

td {
  min-width: 150px;
}

@media screen and (min-width: 720px) {
  section {
    flex-direction: row;
  }

  .product__image {
    width: 50%;
  }

  .product__details {
    width: 50%;
  }
}
