.navbar {
  /* padding: 3vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 50%;
  font-size: 1.7rem;
}

@media screen and (min-width: 640px) {
  .logo {
    font-size: 2rem;
  }
}

.dropbtn {
  border: none;
  background-color: inherit;
  font-size: 1.15rem;
  font-weight: 560;
  color: #94a3b8;
  cursor: pointer;
  position: relative;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #64748b;
}

.profile {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdown-content button {
  color: black;
  padding: 12px 22px;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-content button:hover,
.dropdown-content button:focus {
  text-decoration: underline;
}

.show {
  display: block;
}
